<!DOCTYPE html>
<html>
    <head>
            <title>About</title>
            <link rel="stylesheet" href ="./css/styles.css">
            <link rel="icon" href="/img/weather.png"> 
    </head>
    <body>
         <div class="main-content">
             {{>header}}
             <p>This site has been created by Sharmi Banerjee. It uses data from mapbox.com and darksky.net. </p>
             <img class="potrait" src = "./img/Sharmi_PassportSizePhoto.jpg">
         </div>
        
        {{>footer}}
    </body>
</html>